/*---General Rules---*/

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #5F0B78;
    font-family: 'Indie Flower', cursive;
    font-size: xx-large;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1,
h3 {
    font-family: 'Indie Flower', cursive;
    font-weight: 300;
    color: #CBC507;
    text-align: center;
}

h3 {
    font-size: large;
    text-align: center;
}

/*---THE GAME PAGE---*/

/*---Instructions Button---*/

.instructions-button {
    border-radius: 10px;
    margin-bottom: 10px;
    background-color: #CBC507;
    color: #5F0B78;
    font-family: 'Indie Flower', cursive;
    font-weight: 300;
    border: none;
}

/*---Instructions Modal---*/
.bg-modal {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.modal-content {
    width: 700px;
    height: 600px;
    border-radius: 10px;
    text-align: center;
    position: relative;
}

.close {
    position: absolute;
    top: 0;
    right: 14px;
    cursor: pointer;
}

/*---Deck---*/

.deck {
    width: 50%;
    min-height: 680px;
    background: #CBC507;
    padding: 32px;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 48px;
}

.deck .card {
    width: 20%;
    background: #5F0B78;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1% 1%;
}

.deck .card:after {
    content: '';
    padding-top: 100%;
}

.deck .card.open {
    transform: rotateX(0);
    background: #B2A103;
    cursor: default;
    transition: background 0.2s;
}

.not-shown {
    transform: rotateX(0);
}

@media (hover: hover) {
    .not-shown:hover {
        background: #E5D5B1;
        transform: scale(1.1);
        transition: all 0.05s;
        transform: rotateX(180deg);
    }
}

.deck .card.show {
    font-size: 50px;
    transform: rotateX(0deg);
    transition: all .2s ease-out;
}

.deck .card.match {
    cursor: default;
    background: #E5D5B1;
    font-size: 33px;
    transition: background 0.2s;
    transform: skewX(180deg);
}

#deck .red-wrong {
    background-color: red;
}

/*---Score Panel---*/

.score-panel {
    text-align: center;
    width: 50%;
    margin-bottom: 10px;
    margin-left: 3%;
    display: flex;
    color: #CBC507;
    font-size: xx-large;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    margin: 0 5px 0 0;
    width: 25%;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
    width: 25%;
}

.score-panel .moves {
    width: 25%;
}

.score-panel .timer {
    width: 25%;
}

.score-panel .restart {
    cursor: pointer;
    width: 25%;
}

/*---Success Modal---*/

#success-modal {
    display: none;
}

.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}

.modal-content {
    background: #E5D5B1;
    padding: 1% 5% 5% 5%;
}

.modal-style {
    background: #5F0B78;
    margin: 5% auto;
    width: 50%;
    padding: 30px;
    border-radius: 20px;
}

.close-button {
    float: right;
    font-size: 35px;
    color: #5F0B78;
    padding-top: 3%;
}

.close-button:hover,
.close-button:focus {
    color: #B2A103;
    cursor: pointer;
}

.modal-content p {
    margin-bottom: 10%;
}

#button-restart {
    margin-bottom: 0%;
    background: #CBC507;
    border-radius: 8px;
    color: #5F0B78;
    font-size: 18px;
    font-family: 'Indie Flower', cursive;
}

#button-restart:hover,
#button-restart:focus {
    cursor: pointer;
}

/*---Media Queries---*/

@media only screen and (max-width: 767px) {
    .deck {
        min-height: 500px;
    }

    .deck .card.show,
    .deck .card.match {
        font-size: 25px;
    }
}

@media only screen and (max-width: 600px) {
    .deck {
        min-height: 350px;
    }

    .deck .card.show,
    .deck .card.match {
        font-size: 18px;
    }
}

@media only screen and (max-width: 480px) {
    .deck {
        min-height: 300px;
    }
}